{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <body class="light_green">
        <div class="bg_register .bg-info.bg-gradient">
            <h1 style="text-shadow: 1px 1px black">Login</h1>
        </div>
        <br>

        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn pink" type="submit">Log In</button>
        </form>
    </body>
{% endblock %}